In [3]:
import pandas as pd

In [4]:
# 1. Прочитайте csv файл (метод read_csv)
df = pd.read_csv("bestsellers with categories.csv")
df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [5]:
# 2. Виведіть перші 10 рядків
df.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [6]:
# 3. Виведіть розміри датасету (метод shape)
df.shape

(550, 7)

In [7]:
# Про скільки книг зберігає дані датасет?
books = len(df['Name'].unique())
print(f"Датасет зберігає дані про {books} книгу.")

Датасет зберігає дані про 351 книгу.

In [8]:
# 4. Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення
df.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
df.head()

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [10]:
# 5. Вивести кількість пропусків у кожному стовпчику.
df.isna().sum()

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

In [12]:
# Чи є в якихось змінних пропуски? - Ні, немає пропусків.

In [93]:
# 6. За допомогою методу unique  перевірте, які є унікальні жанри в стовпці genre.
df['genre'].unique()

array(['Non Fiction', 'Fiction'], dtype=object)

In [13]:
# Які є унікальні жанри? - Non Fiction та Fiction

In [15]:
# 7. Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median.
max_price  = df['price'].max()
min_price  = df['price'].min()
mean_price = df['price'].mean()
med_price  = df['price'].median()

In [16]:
# Максимальна ціна?
print(f"Максимальна ціна: {max_price}")

# Мінімальна ціна?
print(f"Мінімальна ціна: {min_price}")

# Середня ціна?
print(f"Середня ціна: {mean_price}")

# Медіанна ціна?
print(f"Медіанна ціна: {med_price}")

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

In [141]:
# 8. Виконайте наступні завдання з пошуку і сортування даних:
# Який рейтинг у датасеті найвищий? 
highest_raiting = df['user_rating'].max()
print(f"Найвищий рейтинг у датасеті: {highest_raiting}")

Найвищий рейтинг у датасеті: 4.9

In [144]:
# Скільки книг мають такий рейтинг? 
n_books = df[df['user_rating'] == highest_raiting].shape[0]
print(f"{n_books} книги мають рейтинг {highest_raiting}")

52 книги мають рейтинг 4.9

In [146]:
# Яка книга має найбільше відгуків? 
most_reviews = df.iloc[df['reviews'].idxmax()]
print(f"Книга '{most_reviews['name']}' має найбільше відгуків")

Книга 'Where the Crawdads Sing' має найбільше відгуків

In [147]:
# З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
df_2010 = df[df['year'] == 2010].sort_values('user_rating', ascending=False).head(50)

highest_price = df_2010.loc[df_2010['price'].idxmax()]
print(f"Серед книг, що потрапили до Топ-50 у 2010 році, книга '{highest_price['name']}' найдорожча")

Серед книг, що потрапили до Топ-50 у 2010 році, книга 'Publication Manual of the American Psychological Association, 6th Edition' найдорожча

In [149]:
# Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році 
df_2012 = df[df['year'] == 2012].sort_values('user_rating', ascending=False).head(50)
amount_fiction = df_2012[df_2012['genre'] == 'Fiction'].shape[0]
print(f"{amount_fiction} книга жанру Fiction потрапила до Топ-50 у 2012 році ")

21 книга жанру Fiction потрапила до Топ-50 у 2012 році

In [110]:
# Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)? 
filter1 = df['user_rating'].isin([4.9])
filter2 = df['year'].isin([2010, 2011])

df[filter1 & filter2]
# Одна книга

,name,author,user_rating,reviews,price,year,genre
187,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9,19576,8,2011,Non Fiction

In [140]:
# 9. Вивести максимальну і  мінімальну ціну для жанру Fiction і NonFiction (за допомогою методів  groupby та agg, 
# для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці.

df_new = df[['price', 'genre']]
df_new.head()

   price        genre
0      8  Non Fiction
1     22      Fiction
2     15  Non Fiction
3      6      Fiction
4     12  Non Fiction

In [139]:
df_new.groupby('genre').agg(['min', 'max'])

            price
              min  max
genre
Fiction         0   82
Non Fiction     0  105